body {
    margin: 0;
    height: 100vh;
    background-color: #2c3043;
}

#container {
    height: 97%;
    margin: 10px;
}

#grid_container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header header header";
    grid-auto-rows: minmax(150px, 1fr);
    gap: 10px;
}

#grid_item1{
    grid-column: 1 / 6;
    grid-row: 1 ;
    padding: 10px;
    border: 1px #000000 solid;
    background-color: #fd825c;
    min-height: 0;
}
#grid_item2{
    grid-column: 6 / -1;
    grid-row: 1 ;
    padding: 10px;
    border: 1px #000000 solid;
    background-color: #fc6057;
    min-height: 0;
}
#grid_item3{
    grid-column: 1 / 4;
    grid-row: 2 ;
    padding: 10px;
    border: 1px #000000 solid;
    background-color: #01a787;
    min-height: 0;
}
#grid_item4{
    grid-column: 4 / -1;
    grid-row: 2;
    padding: 10px;
    border: 1px #000000 solid;
    background-color: #1bc1a1;
    min-height: 0;
}
#grid_item5{
    grid-column: 1 / -1;
    grid-row: 3;
    padding: 10px;
    border: 1px #000000 solid;
    background-color: #fda061;
    min-height: 0;
}