*{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

#nav-bar{
    background-color: #25404b;
    color: #ffffff;
    border: 1px solid #000000;
    display:flex;
    align-items: center;
    justify-content: space-around;
    height: 7vh;
}

#simple{
    justify-items: center;
    flex-grow: 1;
    text-align: center;
}

#more-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

#webdev-course{
    padding: 2vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #b97d2d;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: #ffffff;
    height: 35vh;
    width: 100vw ;
}

#news{
    padding: 10px;
    display: flex;
    background-color: #25404b;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

#empty{
    flex-basis: 10vh;
}

#send{
    background-color: #b97d2d;
    color: #ffffff;
}

#logos{
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
    height: 45vh;
}

#logos img{
    width: 10vw;
}

#logos-1{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#logos-2{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#logos-3{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#copyright{
    display: flex;
    background-color: #25404b;
    justify-content: center;
    color: #ffffff;
    height: 5vh;
}


